[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo
[submodule "modules/iptables"]
	path = modules/iptables
	url = https://github.com/camptocamp/puppet-iptables.git
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = https://github.com/duritong/puppet-sysctl.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/camptocamp/puppet-archive.git
[submodule "modules/nfs"]
	path = modules/nfs
	url = https://github.com/sakaiproject/puppet-nfs.git
[submodule "modules/openvpn"]
	path = modules/openvpn
	url = https://github.com/luxflux/puppet-openvpn.git
[submodule "modules/rabbitmq"]
	path = modules/rabbitmq
	url = https://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "modules/alternatives"]
	path = modules/alternatives
	url = https://github.com/adrienthebo/puppet-alternatives.git
