[submodule "modules/pkgin"]
	path = modules/pkgin
	url = http://github.com/mudge/puppet-pkgin
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = http://github.com/puppetlabs/puppetlabs-vcsrepo
[submodule "modules/epel"]
	path = modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "modules/iptables"]
	path = modules/iptables
	url = https://github.com/camptocamp/puppet-iptables.git
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = https://github.com/duritong/puppet-sysctl.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
