[submodule "modules/pkgin"]
	path = modules/pkgin
	url = http://github.com/mudge/puppet-pkgin
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = http://github.com/puppetlabs/puppetlabs-vcsrepo
